button{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}
.phone-tag{
  display: block;
  width: 30%;
  
  border: #45a049;
  border-style:solid;
  border-width: 4px;
  outline-color: red;
  outline-style: solid;
  outline-width: 2px;
  outline-offset : 4px;
  padding : 10px;
  margin : auto auto auto  auto;
}
#password{
  margin-top: 20px;
}


.btn-primary{
  margin-left: 40%;
}
.btn-primary:hover{
  background-color: #45a049;
}
.btn-primary:active{
  background-color: #45a049;
}

